@utility box-shadow {
    @apply list-box shadow-gray-800 shadow-md flex bg-black/30 border border-white rounded-xl
}

@utility box-center-x {
    @apply left-1/2 -translate-x-1/2
}

@utility box-center-y {
    @apply left-1/2 -translate-y-1/2
}

@utility nav-box {
    @apply bg-white/20 flex flex-col gap-2 p-1 rounded-t-xl
}

@utility item-list {
    @apply border-y border-l-10 flex justify-between gap-2 p-1
}

@utility item-list-grid {
    : ;
    @apply border-y border-l-10 grid-cols-6 grid-rows-1 grid p-1;
}

@utility list-box {
    @apply overflow-x-hidden overflow-y-auto
}

@utility scroll-hidden {
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width:none;
    -ms-overflow-style:none
}